*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body
{
background-image: url("Screenshot\ 2024-01-28\ 191411.png");
background-repeat: no-repeat;
background-size: cover;
background-attachment: fixed;
}
.img-nav
{
    display: flex;
    position: fixed;
    width: 100%;
    top: 0;
    background-color: rgba(0, 0, 0, 0.99);
}
.navbar{
    width: 100%;
    height: 68px;
    display: flex;
    position: fixed;
    top: 0;
    /* background-color: rgba(0, 0, 0, 0.99); */

}
.image img
{
     width: 61px;
    height: 68px;
    margin: 0px 0px 0px 35px; 
   
}
.navbar ul
{
    text-decoration: none;
    text-transform: uppercase;
    font-weight:800;
    text-align: right;
    width: 100%;
    margin: 25px 0px 23px 0px;
}
.navbar ul li
{
    display: inline-block;
}

.navbar ul li a
{
   
    text-decoration: none;
    color: white;
    position: relative;
    font-weight: 800;
    font-size: large;
    margin:0px 60px 0px 0px;

}
.navbar ul li a:hover,
.navbar ul li a.active
{
   color: #00ffde;
}


/* home  */

.container
{
    max-width: 1300px;
    width: 100%;
    margin: auto;
    margin-top: 7%;
}
.block
{
   padding: 50px;
}
.hd1 h2
{

    text-transform: capitalize;
    color: rgb(255, 255, 255);
    font-size:70px;
    font-family: 'poppins';
    font-weight: 800;
    
}

.hd2 h1
{
    text-transform: capitalize;
    /* color:#00ffde; */
    font-family: 'Libre Baskerville', serif;
    font-weight: 700;
    padding-top: 20px;
    font-size: 49px;
    color: transparent;
    animation: vijay 3.8s ease-in forwards ;
} 
@keyframes vijay
{
    0%
    {
        opacity: 0;
    }
    50%
    {
        opacity: 0.5;
        color: #00ffde;
    }
    100%

    {
        opacity: 1;
        color:#00ffde;
    }
}

.ph p
{
    text-transform: capitalize;
    color:rgb(255, 255, 255);
    font-family: 'Libre Baskerville', serif;
    font-weight:300;
    font-size:larger;
    text-align: left;
    padding-top: 35px;
    padding-right: 100px;
   
    
}
.both
{
    display: flex;
    margin-top: 23px;
}
.resume a
{
    text-decoration: none;
    font-size:larger;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 500;
    text-transform:capitalize;
    color: white;
    
/* /////////////////////// */

    border: 3px solid#00ffde;
    border-radius: 6px;
    padding-left: 33px;
    padding-right: 33px;
    padding-top: 5px;
    padding-bottom: 5px;
    box-shadow: 0px 0px 10px 2px#00ffde;
}
.resume a:hover
{
    color: rgb(0, 0, 0);
    background-color:#00ffde;
}

.resume1 a
{
    text-decoration: none;
    font-size:larger;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 500;
    text-transform:capitalize;
    margin-left: 80px;
    color: white;
    margin-top: 50px;
     border: 3px solid #00ffde;
    border-radius: 5px;
    padding-left: 33px;
    padding-right: 33px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-left: 27px;
    box-shadow: 0px 0px 10px 2px#00ffde;
}
.resume1 a:hover
{
    color: rgb(0, 0, 0);
    background-color: #00ffde;
}


/* about me */

.container1
{
    max-width: 1300px;
    width: 100%;
    margin: auto;
    margin-top: 4%;
}

.img1 img
{
    float: right;
    height: 370px;
    width: 386px;
   padding-top: 12px;
    border-radius: 50%;
    padding-left: 15px;
    /* opacity: 0.7; */
}

.para p
{
    /* padding-top: 120px;
    padding-left: 60px; */
    color: rgb(255, 253, 253);
    font-size: 20px;
    font-weight: 400;
    /* padding-right: 467px; */

}

.para2 p
{
   
    /* padding-left: 60px;  */
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-weight: 400;
    /* padding-right: 550px; */

}

.para3 p
{
   
     /* padding-left: 60px;  */
    color: rgb(255, 254, 254);
    font-size: 20px;
    font-weight: 400;
    /* padding-right: 550px; */
}

.span
{
    color: rgb(255, 0, 0);
}

.sd
{
    font-weight: 600;
    font-size: xx-large;
    color: #00ffde;
}

/* skills page */

.contain
{
    width: 1220px;
    height:590px;
    margin: auto;
    margin-top: 150px; 
    /* box-shadow: rgb(0, 255, 222) 0px 0px 107px 13px; */
    background-color: black;
    opacity: 0.9;
    justify-content: center;
    /* align-items: center; */
    /* display: flex;  */
    border-radius: 19px;
   padding-left: 18px;
    padding-right: 18px;
    padding-top: 15px;
    animation: box 0.9s ease-in forwards;
    opacity: 0;
}

@keyframes box
{
    0%
    {
        box-shadow: rgb(0, 255, 222) 18px 18px 138px 7px;
        opacity: 0;
    }
    100%
    {
        box-shadow: rgb(0, 255, 222) 18px 18px 138px 7px;
        opacity: 1;
    }
}

.flex
{
    display: flex;
}

.skill
{
    position: relative;
    color: white;
    /* background-color: #000000; */
    border-radius: 7px;
    max-width: 700px;
    width: 100%;
    padding: 25px;   
}

.skill .title
{
    display: block;
    font-weight: 600;
    font-size: 26px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding-top: 25px;
}

.skill .bar
{
    width: 100%;
    height: 7px;
    background: #868686;
    border-radius: 6px;
    margin-top: 14px;
}

.skill .bar .percen
{
    position: relative;
    display: block;
    height: 100%;
    width: 98%;
    border-radius: 6px;
    background:#00ffde;
    animation: man 1.8s ease-in-out forwards;
    opacity: 0;
}

.bar .percen.html
{
    width: 90%;
}
.bar .percen.css
{
    width: 70%;
}
.bar .percen.javascript
{
    width: 48%;
}
.bar .percen.sql
{
    width: 45%;
}
.bar .percen.java
{
    width: 76%;
}
.bar .percen.selenium
{
    width: 85%;
}

@keyframes man
{
    0% {
        width: 0;
        opacity: 0;
    }
    100%
    {
        opacity: 1;
    }
}  

.percen .tooltip
{
    position: absolute;
    right: -24px;
    top: -48px;
    font-size: larger;
    font-weight: 500;
    color: #00ffde;
    padding: 5px 10px 5px 10px;
    border-radius: 7px;
    background: rgb(255, 0, 0);
    /* background: transparent; */
}

.tooltip::before
{
    height: 10px;
    width: 10px;
    left: 51%;
    position: absolute;
    bottom: -5px;
    background: rgb(255, 0, 0);
    content: '';
    transform:translatex(-50%)rotate(45deg);


    /* another one */

    /* height: 14px;
    width: 14px;
    left: 51%;
    position: absolute;
    bottom: -9px;
    background: rgb(255, 0, 0);
    border-bottom-right-radius: 0;
    border-top-left-radius: 38px;
    border-top-right-radius: 39px;
    border-bottom-left-radius: 39px;
    content: '';
    transform:translatex(-50%)rotate(45deg); */



}

#selenium
{
    margin-left: 14%;
}


/* certifications */

.containers
{
    width: 1100px;
    height:660px;
    margin: auto;
    margin-top: 120px; 
    box-shadow: rgb(0, 255, 222) 0px 0px 107px 13px;
    background-color: black;
    border-radius: 12px;
}
/* .containers:hover .certificates h4
{
    color: #00ffde;
    letter-spacing: 1.5px;
    /* animation: text 3s ease ; 
    /* animation-delay: 0s; 
} */
@keyframes text{
    0%
    {
        opacity: 0;
    }
    100%
    {
        opacity: 1;
        color: #00ffde;
    }
}
.block1
{
    display:flex;
    justify-content: center;
    align-items: center;
    padding-top: 45px;
}

.block2
{
    margin-top: -20px;
    display:flex;
    justify-content: center;
    align-items: center;
    padding-top: 45px;

}

.certificates img
{
    height: 210px;
    width: 300px;
    margin:10px;
    border-radius: 3px;
}

.certificates h4
{
    font-size: 25px;
    font-weight: 600;
    /* color: rgb(7, 255, 210); */
    justify-content: center;
    text-align: center;
    padding-top: 5px;
    color:transparent;
}

.certificates  #css
{
    /* color: #00ffde; */
    animation: text 3s ease-in-out;
    
}
.certificates  #javasc
{
  
    animation: text 2.5s ease-in-out;
    animation-delay: 2s;
    /* color: #00ffde; */
}
.certificates  #java
{
    animation: text 2.5s ease-in-out;
    animation-delay: 4s;
    /* color: #00ffde; */
}
.certificates  #sql
{
    animation: text 2.5s ease-in-out;
    animation-delay: 6s;
    /* color: #00ffde; */
}

.block1 #img2
{
    margin-left: 120px;
}

.block2 #img4
{
    margin-left: 120px;
}


/* contact me page */
.lastpage
{
    width: 1100px;
    height:570px;
    margin: auto;
    margin-top: 120px; 
    box-shadow: rgb(0, 255, 222) 0px 0px 107px 13px;
    /* background-color: black; */
    border-radius: 12px;
   
    
}

.email p 
{
    font-size: 31px;
    color: white;
    padding-left: 30px;
    padding-top: 50px;
}
#span

{
    color: blue;
}
.lpara p
{
    padding-top: 70px;
    padding-left: 30px;
    color: white;
    font-size: 26px;
}
.lpara p abbr{


    color: #0bf9f9;
    font-size: 20px;
}
.logos img
{
    height: 140px;
    width: 200px;
    margin-top: 43px;
    
}
.thank
{
    color: white;
    font-size: large;
    font-family: 'poppins';
    text-align: center;
    margin-top: 50px;
}
#gmail
{
    margin-left:12px ;
}
#linkedin
{
    margin-left: 15px;
}

